* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(to right, rgb(20,118,250), rgb(70,14,245));
}